# macOS
.DS_Store
.AppleDouble
.LSOverride

# macOS-specific files
Icon?
.Spotlight-V100
.Trashes
.DS_Store
._*
.fseventsd
.TemporaryItems
.apdisk

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtual Environments
venv/
env/
ENV/
.venv/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Golang
*.exe
*.test
*.out
*.mod
*.sum
vendor/

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.code-workspace

# IntelliJ IDEA and PyCharm
.idea/
*.iml
*.iws
.idea/
.idea/*

# Logs and Temporary Files
*.log
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig
*.rej
*.undo
*.trace

# Git
.git/
**/.git/

# System Files
Thumbs.db
Desktop.ini
ehthumbs.db
